<a href="https://colab.research.google.com/github/will-gun/stock-data/blob/master/collectTaiwanStockData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 1
print(a)
print(a)
import requests
site = "https://query1.finance.yahoo.com/v7/finance/download/2330.TW?period1=0&period2=1549258857&interval=1d&events=history&crumb=hP2rOschxO0"
response = requests.get(site)
from io import StringIO
import pandas as pd
df = pd.read_csv(StringIO(response.text))
df

1
1

            Date        Open        High  ...       Close   Adj Close        Volume
0     2000-01-04   69.649033   69.649033  ...   69.649033   36.808666  2.006623e+11
1     2000-01-05   69.649033   71.214043  ...   71.214043   37.635750  4.024668e+11
2     2000-01-06   70.822884   71.214043  ...   69.649033   36.808666  1.975457e+11
3     2000-01-07   67.301331   68.475182  ...   67.692490   35.774647  2.352703e+11
4     2000-01-10   69.649033   70.431351  ...   70.040192   37.015373  2.761717e+11
...          ...         ...         ...  ...         ...         ...           ...
4792  2019-01-24  222.500000  222.500000  ...  222.500000  206.314926  2.641792e+07
4793  2019-01-25  226.500000  227.000000  ...  226.000000  209.560318  4.669276e+07
4794  2019-01-28  229.500000  229.500000  ...  229.000000  212.342117  2.602626e+07
4795  2019-01-29  222.500000  225.000000  ...  222.500000  206.314926  4.112252e+07
4796  2019-01-30  220.500000  221.500000  ...  221.000000  204.924042  4.475594e+07

[4797 rows x 7 columns]